.recomendationsContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recomendationsContainer span {
  height: 100px;
  margin: 1rem;
  width: 100px;
}

.recomendationsContainer img {
  width: 100px;
}

.startRecipeButton {
  bottom: 0;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
