.login {
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-login {
  height: auto;
  width: 100vw;
}

.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: -3.12rem;
}

.login form input {
  border: none;
  border-radius: var(--spacing-scale-1x);
  height: 40px;
  margin: var(--spacing-scale-2x);
  margin-top: 0;
  width: 17.5rem;
}

.login form span {
  align-self: flex-start;
  color: white;
  font-family: bebas , sans-serif;
  font-size: 1.4rem;
  margin-left: 2.5rem;
}

.login form button {
  align-self: flex-start;
  border: none;
  border-radius: var(--spacing-scale-1x);
  color: var(--base-color);
  font-family: bebas , sans-serif;
  font-size: 20px;
  margin-left: 2.5rem;
  padding: var(--spacing-scale-2x) var(--spacing-scale-4x);
}
