.recipes {
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.recomendationsContainer {
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: var(--spacing-scale-3x) 20px;
}

.recomendationsContainer span {
  margin: 0 45px;
  margin-top: 20px;
  width: 100px;
}

.recomendationsContainer span:first-of-type {
  margin-left: 0;
}

.recomendationsContainer span:last-of-type {
  margin-right: 30px;
}

.recomendationsContainer img {
  width: 130px;
}
