.footer {
  bottom: 0;
  height: 11vh;
  position: fixed;
  width: 100%;
}

.menu-icons {
  align-items: center;
  background-color: aqua;
  display: flex;
  height: 100%;
  justify-content: space-around;
}
