header {
  display: flex;
  flex-direction: column;
}

.first-section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 0;
}

.profile-icon {
  color: var(--base-color);
}

.main-logo-header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 150px;
}

.logo-yummi {
  position: relative;
  top: -8px;
  width: 45px;
}

.main-logo-header h2 {
  color: var(--base-color);
  font-family: leChant , sans-serif;
  font-size: 3rem;
  margin: 0;
  margin-right: var(--spacing-scale-1x);
}

.search-area {
  display: flex;
  flex-direction: column;
}

.second-section-header {
  border-bottom: 3px solid var(--base-color);
  border-top: 3px solid var(--base-color);
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-between;
  padding: 20px 15px 10px;
}

.search-input {
  border: 2px solid var(--base-color);
  border-radius: 5px;
}

.search-radio-buttons {
  display: flex;
  justify-content: space-between;
}

.second-section-header button {
  background-color: var(--base-color);
  border: none;
  color: white;
  font-family: bebas , sans-serif;
  padding: 5px;
  width: 100px;
}
